body {
    background-color: #18A383;

}

.contato{
    text-align: center;
}

.card-custom {
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 180px;
}